/* This file contains design tokens used in core Gleam projects */
:root {
  --col-black: #000000;
  --col-chinese-black: #151515;
  --col-eerie-black: #1e1e1e;
  --col-dark-charcoal: #2f2f2f;
  --col-english-violet: #584355;
  --col-gray: #7e818b;
  --col-dark-vanilla: #cac0a9;
  --col-baby-powder: #fefefc;
  --col-cosmic-latte: #fffbe8;
  --col-faff-pink: #ffaff3;
  --col-waterspout: #a6f0fc;
  --col-deep-saffron: #ff9d35;
  --col-pastel-red: #ff6262;
  --col-caramel: #ffd596;
  --col-menthol: #c8ffa7;
}
